@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700&family=Lato&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-style: normal;
}

/* Cabeçalho */

header{
    position: fixed;
    top: 0;
    width: 414px;
    height: 92px;
    border-radius: 1px;
    background-color: #CF2B2B;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

header > h1{
    font-family: "Righteous";
    font-size: 44px;
    line-height: 55px;
}
header > h3{
    font-size: 18px;
    line-height: 21px;
}

/* Container */

